.cache/
.vscode/
_attic/
*.o
*.d
*.exe
*~
tests/aestst
tests/test_openssl
tests/test_speed
tests/test_check
tests/libtrezor-crypto.so
*.os
*.pyc
env/
dist/
build/
TrezorCrypto.egg-info/
trezorcrypto*.so
