include AUTHORS
include CONTRIBUTORS
include LICENSE
include README.md

include *.c *.h
include nist256p1.table
include secp256k1.table
recursive-include aes *.c *.h
recursive-include chacha20poly1305 *.c *.h
recursive-include ed25519-donna *.c *.h
recursive-include monero *.c *.h

recursive-include extmod *.pxi *.pxd *.pyx
